<!-- Rodapé -->
<link href="/stylesheets/footer.css" rel="stylesheet" />

<footer>
  <div class="main-content">
    <div class="left box">
      <h2>Sobre Nós</h2>

      <div class="content">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta iure,
          expedita laborum tempore tenetur sequi, incidunt mollitia enim, qui
          iusto doloremque aperiam ad atque perferendis quidem accusantium
          consectetur totam veritatis.
        </p>

        <div class="social">
          <a href="https://www.facebook.com/Ohmbucha-114421486867260">
            <span class="fab fa-facebook-f"></span>
          </a>
          <a href="https://www.instagram.com/ohmbucha_br/">
            <span class="fab fa-instagram"></span>
          </a>
          <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511951541097" target="_blank">
            <span class="fab fa-whatsapp fa-1x"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="center box">
      <h2>Contatos</h2>
      <div class="content">
        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">São Paulo, Brasil</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text">+55-11-1234-5678</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">contato@kombucha.com.br</span>
        </div>
      </div>
    </div>

    <div class="right box">
      <h2>Fale Conosco</h2>
      <div class="content">
        <form action="#">
          <div class="email">
            <div class="text">E-mail *</div>
            <input type="email" required />
          </div>
          <div class="msg">
            <div class="text">Mensagem *</div>
            <textarea cols="25" rows="2" required></textarea>
          </div>
          <div class="btn">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom">
    <center>
      <span class="credit">Created By OHMBUCHA <a href="#">--</a> | </span>
      <span class="far fa-copyright">
        <span> 2021 All rights reserved.</span>
      </span>
    </center>
  </div>
</footer>
