<!-- Cabeçalho -->
<link href="/stylesheets/header.css" rel="stylesheet" />

<!-- Logo e label name -->
<header id="cabecalho">
  <a class="logo" href="/">
    <img src="/images/logo.png" alt="logo" title="OHMBUCHA" />
    <h1>OHMBUCHA</h1>
  </a>

  <!-- Login -->
  <% if (!locals.isLoginPage) { %>
    <div class="login">
      <a href="/login" class="btn-login">
        <i class="fas fa-user fa-1x"></i>
        <span>login</span>
      </a>
    </div>
    <% } %>

      <!-- Menu de navegação -->

      <nav class="menu">
        <ul>
          <li class="home"><a href="/">início</a></li>
          <li><a href="/#sabores">produtos</a></li>
          <li class="cadastro"><a href="/cadastro">cadastro</a></li>
          <li>blog</li>
        </ul>
      </nav>

      <!-- Barra de pesquisa 

    <form id="pesquisar" action="" method="get">
        <span id="icone_busca">
            <i id="busca" class="fa fa-search fa-1x"></i>
        </span>
        <input type="search" placeholder="Encontre seu sabor aqui" name="busca" id="busca">

        <button type="submit">Procurar</button>
    </form> -->

      <!-- Contato -->

      <div class="contato">
        <ul>
          <li title="Facebook">
            <a href="https://www.facebook.com/Ohmbucha-114421486867260" target="_blank">
              <i class="fab fa-facebook-square fa-1x"></i>
            </a>
          </li>
          <li title="Instagram">
            <a href="https://www.instagram.com/ohmbucha_br" target="_blank">
              <i class="fab fa-instagram fa-1x"></i>
            </a>
          </li>
          <li title="Whatsapp">
            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511951541097" target="_blank">
              <i class="fab fa-whatsapp fa-1x"></i>
            </a>
          </li>
        </ul>
      </div>
</header>
