<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title> <%= title %> </title>
</head>

<body>
    
    <%- include('partials/header') %>

        <!-- Imagem de banner -->

        <div class="img-wrapper">
            <img src="/images/banner.png" alt="">
        </div>


        <!-- Seção de apresentação do produto -->

        <section>
            <hr class="line">
            <div class="wrapper">
                <h2 class="titulo">O QUE É KOMBUCHA?</h2>
            </div>
            <div class="box1">
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea
                    commodo consequat.aLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
            <div class="clear"></div>
            <div class="col-6"></div>
            <div class="col-6">
                <h2 class="titulo2">PRA QUE SERVE?</h2>
            </div>
            <div class="box2">
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea
                    commodo consequat.aLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
            <div class="clear"></div>
            <div class="faixa">
                <div class="wrapper">
                    <div class="col-3">
                        <img src="/images/sem-conservantes.png" alt="" class="icone">
                        <h2 class="tituloIcone">Sem conservantes</h2>
                    </div>
                    <div class="col-3">
                        <img src="/images/sem-gluten.png" alt="" class="icone">
                        <h2 class="tituloIcone">Sem glúten</h2>
                    </div>
                    <div class="col-3">
                        <img src="/images/sem-corantes.png" alt="" class="icone">
                        <h2 class="tituloIcone">Sem corantes</h2>
                    </div>
                    <div class="col-3">
                        <img src="/images/sem-lactose.png" alt="" class="icone">
                        <h2 class="tituloIcone">Sem lactose</h2>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>

        <!-- Seção Sabores -->

        <section>
            <div class="sabores">
                <hr class="line2">
                <hr class="line3">
                <h2 class="titulo3">SABORES</h2>
                <div class="clear"></div>
                <br>
                <br>
                <div class="wrapper">
                    <div class="col-4">
                        <div class="boxSabores">
                            <div class="box-titulo-sabor rosa">
                                <h2> <%= produtos[0].nome %> </h2>
                            </div>
                            <div class="box-invisivel">
                                <h3 class="valor">R$ 00,00</h3>
                                <hr class="line-sabores">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna
                                    aliqua.</p>
                                <button class="btn rosa">COMPRAR</button>
                            </div>
                            <img src="/images/bancha.png" alt="" class="garrafa">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="boxSabores">
                            <div class="box-titulo-sabor amarelo">
                                <h2>FLORAL</h2>
                            </div>
                            <div class="box-invisivel">
                                <h3 class="valor">R$ 00,00</h3>
                                <hr class="line-sabores">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore
                                    magna
                                    aliqua.</p>
                                <button class="btn amarelo">COMPRAR</button>
                            </div>
                            <img src="/images/floral.png" alt="" class="garrafa">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="boxSabores">
                            <div class="box-titulo-sabor azul1">
                                <h2 class="font-gengibre">GENGIBRE COM AÇAFRÃO</h2>
                            </div>
                            <div class="box-invisivel">
                                <h3 class="valor">R$ 00,00</h3>
                                <hr class="line-sabores">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore
                                    magna
                                    aliqua.</p>
                                <button class="btn azul1">COMPRAR</button>
                            </div>
                            <img src="/images/gengibre-acafrao.png" alt="" class="garrafa">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-4">
                        <div class="boxSabores">
                            <div class="box-titulo-sabor verde">
                                <h2>JASMIM</h2>
                            </div>
                            <div class="box-invisivel">
                                <h3 class="valor">R$ 00,00</h3>
                                <hr class="line-sabores">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna
                                    aliqua.</p>
                                <button class="btn verde">COMPRAR</button>
                            </div>
                            <img src="/images/jasmim.png" alt="" class="garrafa">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="boxSabores">
                            <div class="box-titulo-sabor azul2">
                                <h2>MORANGO</h2>
                            </div>
                            <div class="box-invisivel">
                                <h3 class="valor">R$ 00,00</h3>
                                <hr class="line-sabores">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore
                                    magna
                                    aliqua.</p>
                                <button class="btn azul2">COMPRAR</button>
                            </div>
                            <img src="/images/morango.png" alt="" class="garrafa">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </section>



        <!-- Seção de Planos -->

        <div class="planos">
            <span class="linha-esquerda"> </span>
            <p class="titulo-planos"> PLANOS </p>
            <span class="linha-direita"> </span>

            <table class="tabela-planos">
                <thead>
                    <tr>
                        <th></th>
                        <th class="plano-silver"> MENSAL </th>
                        <th class="plano-gold"> SEMESTRAL </th>
                        <th class="plano-platinum"> ANUAL </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="transparente"> Preço </td>
                        <td class="fonte-preço"> R$ 145 </td>
                        <td class="fonte-preço"> R$ 260 </td>
                        <td class="fonte-preço"> R$ 367 </td>
                    </tr>

                    <tr>
                        <td class="transparente"> Garrafas </td>
                        <td> 15 </td>
                        <td> 25 </td>
                        <td> 35 </td>
                    </tr>

                    <tr>
                        <td class="transparente"> Vinagre Ohmbucha </td>
                        <td> <i class="fas fa-times" style="color:rgb(194, 44, 24)"> </i> </td>
                        <td> <i class="fas fa-check" style="color:rgb(121, 202, 29)"> </i> </td>
                        <td> <i class="fas fa-check" style="color:rgb(121, 202, 29)"> </i> </td>
                    </tr>


                    <tr>
                        <td class="transparente"> eBook de Receitas </td>
                        <td> <i class="fas fa-times" style="color:rgb(194, 44, 24)"> </i> </td>
                        <td> <i class="fas fa-times" style="color:rgb(194, 44, 24)"> </i> </td>
                        <td> <i class="fas fa-check" style="color:rgb(121, 202, 29)"> </i> </td>
                    </tr>

                    <tr>
                        <td class="transparente"> Kit Caseiro </td>
                        <td> <i class="fas fa-times" style="color:rgb(194, 44, 24)"> </i> </td>
                        <td> <i class="fas fa-times" style="color:rgb(194, 44, 24)"> </i> </td>
                        <td> <i class="fas fa-check" style="color:rgb(121, 202, 29)"> </i> </td>
                    </tr>

                    <tr>
                        <td class="transparente" id="transparente-id"> </td>
                        <td id="botao1"> <button class="btn-1" type="button"> ASSINAR </button> </td>
                        <td id="botao2"> <button class="btn-2" type="button"> ASSINAR </button> </td>
                        <td id="botao3"> <button class="btn-3" type="button"> ASSINAR </button> </td>
                    </tr>

                </tbody>

            </table>
        </div>

        <%- include('partials/footer') %>

</body>

</html>