@import url("/css/base.css");

body {
 font-family: "Roboto", sans-serif;
}

section {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.col-25,
.col-50,
.col-75 {
  padding: 10px;
}

.col-25 {
  color: #fff;
  width: 30vw;
  height: 20%;
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.09);
  background-color: rgb(131, 165, 100, 0.7);
}

.col-75 {
  color: #fff;
  width: 50vw;
  height: 20%;
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
  background-color: rgb(131, 165, 100, 0.7);
  box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.09);
}


input {
  align-content: right;
  width: 75%;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.09);
  border: 1px solid #ccc;
  border-radius: 3px;
}

#expmonth, #expyear, #cvv {
  width: 20%;
}

label {
  margin-bottom: 5px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
 
  color: #11998e;
  font-weight: 700;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  color: #000;
  background-color: #ffed4c;
  font-weight: 700;
  transition: 1s;
}

span.price {
  float: right;
 
}

