/*------ Footer ------*/

footer {
  bottom: 0px;
  width: 100%;
  background: rgb(131, 165, 100);
  color: #ffffff;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffed4c;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #83a564;
}

.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #ffed4c;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  color: #f2f2f2;
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #ffed4c;
  color: #000;
}

.center .content .fas {
  font-size: 1rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #ffed4c;
  color: #000;
}

.center .content .text {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 10px 0;
}
.right form .text {
  font-size: 1rem;
  margin-bottom: 2px;
  color: #ffffff;
}

.right form .msg {
  margin-top: 10px;
}

.right form input,
.right form textarea {
  width: 97%;
  font-size: 1rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #f2f2f2;
}

.right form .btn {
  width: 100%;
  padding: 0;
}

.right form input:focus .right form textarea:focus {
  outline-color: #3498db;
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #000;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
}

.right form .btn button:hover {
  background: #ffed4c;
  color: #000;
}

.bottom center {
  padding: 5px;
  font-size: 0.9rem;
  background: #151515;
}

.bottom center span {
  color: #656565;
}

.bottom center a {
  color: #f12020;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

