@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

* {
  margin: 0;
  border: 0;
  font-family: var(--font-primary), sans-serif;
}

:root {
  --font-primary: "Roboto", serif;
  --font-secondary: "Permanent Marker", serif;
}

body {
  background: rgba(131, 165, 100, 0.9);
  
  color: #f2f2f2;
  text-decoration: none;
}

section {
  margin: 100px 20px 20px 20px;
  min-width: 250px;
  width: auto;
  border-radius: 10px;
  opacity: 0.8;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  display: flex;
  flex-direction: row;
  width: 90px;
  padding: 5px;
  border-radius: 50%;
}

.logo label {
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  transition-duration: 0.5s;
}

.logo label:hover {
  color: #11998e;
}

/*Formulário*/

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.login {
  display: flex;
  justify-content: center;
  padding: 20px;
}

input#email {
  border-radius: 5px;
  width: 230px;
  height: 25px;
  box-shadow: 0 0 5px #11998e;
}

input#password {
  border-radius: 5px;
  height: 25px;
  box-shadow: 0 0 5px #11998e;
}

button {
  height: 25px;
  color: #11998e;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow: 0 0 5px #11998e;
}

button:hover {
  color: #f2f2f2;
  background-color: #11998e;
  font-weight: 700;
}

p {
  
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #ffed4c;
  border-bottom: 2px solid #ffed4c;
}

a:hover {
  border-bottom: 2px solid #f2f2f2;
}

#voltar {
  align-self: flex-end;
  color: #ffed4c;
  font-size: 1.2rem;
}
