@import url("/stylesheets/base.css");

/*----- Banner -----*/

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff(0, 0, 0, 0.8);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 5s;
}

@keyframes zoom {
  0% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}

/*----- Seção de apresentação do produto -----*/

[class*="col-"] {
  float: left;
  padding: 15px;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.texto {
  color: #ffffff;
  font-size: 1.2em;
  text-align: justify;
}

.titulo {
  color: #6d8742;
  margin: 35px 0px;
  font-size: 3em;
  font-family: "Roboto";
}

.titulo2 {
  color: #6d8742;
  margin: -71px 0px 17px 19px;
  font-size: 3em;
  font-family: "Roboto";
}

.titulo3 {
  color: #ffffff;
  margin: 0px 0px 17px 19px;
  font-size: 3em;
  font-family: "Roboto";
  text-align: center;
}

.line {
  width: 48%;
  border: 3px solid #6d8742;
  float: right;
  margin-top: 25px;
}

.line2 {
  width: 30%;
  border: 3px solid #ffffff;
  float: left;
  margin-top: 25px;
}

.line3 {
  width: 30%;
  border: 3px solid #ffffff;
  float: right;
  margin-top: 25px;
}

.box1 {
  width: 48%;
  background-color: #6d8742;
  border-radius: 0px 15px 15px 0px;
  height: auto;
  border-bottom: 10px solid #465829;
  box-sizing: border-box;
  padding: 2%;
  float: left;
}

.box2 {
  width: 48%;
  background-color: #6d8742;
  border-radius: 15px 0px 0px 15px;
  height: auto;
  border-bottom: 10px solid #465829;
  box-sizing: border-box;
  padding: 2%;
  float: right;
}

.faixa {
  background-color: #6d8742;
  width: 100%;
  height: auto;
  margin: 47px 0px 0px 0px;
  border-bottom: 10px solid #465829;
}

.icone {
  display: block;
  margin: 20px auto 0px auto;
}

.tituloIcone {
  text-align: center;
  margin: 20px 0px;
  color: #ffed4c;
  font-size: 30px;
  font-family: "Roboto";
}

.sabores {
  width: 100%;
  height: 1101px;
  background-image: url(/images/bg_produtos.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-position-y: bottom;
  padding: 30px 0px;
}

.font-gengibre {
  font-size: 23px !important;
  margin: 6px 0px;
}

.boxSabores {
  width: 100%;
  height: auto;
  /* background: #fff; */
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 0px 26px;
}

.box-titulo-sabor {
  width: 100%;
  height: auto;
  background: #fff;
  box-sizing: border-box;
  padding: 14px 0px;
  border-radius: 10px 10px 0px 0px;
}

.box-titulo-sabor h2 {
  text-align: center;
  font-size: 30px;
  margin-left: 49px;
}

.boxSabores h3 {
  text-align: center;
  font-size: 35px;
}

.boxSabores p {
  text-align: center;
  font-size: 17px;
  margin: 25px 54px;
  text-align: justify;
}

.line-sabores {
  width: 87%;
  border-bottom: 4px solid #f78e89;
  margin-top: 10px;
}

.btn {
  display: block;
  margin: 0px auto;
  font-size: 25px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d5d5d5;
  color: #333;
}

.garrafa {
  position: absolute;
  width: 108px;
  top: -32px;
  left: -10px;
}

.box-invisivel {
  background: #fff;
  border-radius: 10px 0px;
  box-sizing: border-box;
  padding: 11px 0px 11px 43px;
}

.rosa {
  background: #f78e89;
  transition-duration: 0.3s;
}

.amarelo {
  background: #f1e032;
}

.azul1 {
  background: #82b2ce;
}

.verde {
  background: #9ec066;
}

.azul2 {
  background: #9fe0ca;
}

.azul3 {
  background: #8297ce;
}

/*Planos de Assinatura*/
/*Conteúdo da tabela*/

.titulo-planos {
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  color: #5b9129;
  margin-bottom: 36px;
}

.tabela-planos {
  margin-top: 25px 0;
  height: 60vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  border-radius: 2%;
  box-shadow: 0 0 20px rgba (0, 0, 0, 0.15);
}

.tabela-planos th,
.tabela-planos td {
  padding: 12px 15px;
}

.tabela-planos thead {
  padding: 20px;
}

.tabela-planos tbody tr:nth-child(-n + 5) {
  border-bottom: 0.75px solid rgba(0, 0, 0, 0.75);
}

.tabela-planos tbody td:nth-child(-n + 4) {
  border-right: 0.75px solid rgba(0, 0, 0, 0.75);
}

.transparente {
  border-bottom: 1px solid #fff;
}

#transparente-id,
#botao1,
#botao2,
#botao3 {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.botao-right-left {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.plano-silver {
  background-color: #8fc160;
}

.plano-gold {
  background-color: #68b3cf;
}

.plano-platinum {
  background-color: #7998d1;
}

.fonte-preço {
  font-size: 28px;
  font-weight: bold;
}

.btn-1 {
  background-color: #8fc160;
  padding: 12px;
  border: 0.7px solid #dddddd;
  border-radius: 10%;
  padding-right: 23px;
  padding-left: 23px;
  cursor: pointer;
}

.btn-2 {
  background-color: #68b3cf;
  padding: 12px;
  border: 0.7px solid #dddddd;
  border-radius: 10%;
  padding-right: 23px;
  padding-left: 23px;
  cursor: pointer;
}

.btn-3 {
  background-color: #7998d1;
  padding: 12px;
  border: 0.7px solid #dddddd;
  border-radius: 10%;
  padding-right: 23px;
  padding-left: 23px;
  cursor: pointer;
}

