@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

* {
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --font-primary: "Roboto", serif;
  --font-secondary: "Permanent Marker", serif;
}

/*----- Cabeçalho -----*/

#cabecalho {
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  background-color: rgb(131, 165, 100, 0.5);
  width: 100%;
}


.logo {
  display: flex;
  margin-left: 2vw;
}

header img {
  display: flex;
  width: 100px;
  padding: 5px;
  border-radius: 50px;
}

header label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #f2f2f2;
  margin-left: 2vw;
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  transition-duration: 0.5s;
}

header label:hover {
  color: #ffed4c;
  border-bottom: white solid 2px;
}

.home {
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--font-primary);
  color: #f2f2f2;
}

.login {
  margin-left: 10px;
  font-weight: 700;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  margin-left: 2vw;
}


/*----- Menu -----*/

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-left: 8vw;
}

nav ul {
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap;
  list-style: none;
  font-size: 0.7rem;
  padding: 5px 5px 5px 0px;
}

nav li {
  display: flex;
  flex-wrap: wrap;
  color: #f2f2f2;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: var(--font-primary);
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

nav li:hover {
  color: #ffed4c;
  cursor: pointer;
  border-bottom: white solid 2px;
}

/*----- Campo de busca -----*/

#pesquisar {
  display: flex;
  justify-content: flex-end;
}

input#busca {
  display: block;
  justify-content: right;
  background-color: transparent;
  height: 20px;
  margin: 2px;
  color: #ffed4c;
  border: #f2f2f2 0.5px solid;
  border-radius: 2px;
  width: 200px;
}

input#busca:hover {
  border: 0.5px solid #ffed4c;
}

#pesquisar i {
  padding: 1px 1px;
  height: 20px;
  color: #f2f2f2;
  border-radius: 2px;
}

#pesquisar button {
  margin: 2px;
  height: 20px;
  background-color: transparent;
  color: #f2f2f2;
  border-radius: 2px;
  border: 0.5px;
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow: 0 0 5px #fff;
}

#pesquisar button:hover {
  color: #ffed4c;
  box-shadow: 0 0 5px #ffed4c;
  font-weight: 500;
}

/*----- Contato -----*/

.contato {
  display: flex;
  align-items: flex-end;
}

.contato ul {
  display: flex;
  width: auto;
  list-style: none;
  padding: 5px 5px 5px 5px;
  margin: 1vw;
  justify-content: flex-end;
}

.contato i,
.login i {
  display: flex;
  font-size: 1.5rem;
  flex-wrap: wrap;
  list-style: none;
  color: #f2f2f2;
  padding: 5px;
  transition-duration: 0.5s;
}

.contato i:hover,
.login i:hover {
  color: #ffed4c;
  cursor: pointer;
  border-bottom: white solid 2px;
}

a:link {
  text-decoration: none;
}

/*----- Banner -----*/

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff(0, 0, 0, 0.8);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 5s;
}

@keyframes zoom {
  0% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}

/*------ Carrossel ------*/

/*

.slider {
  display: flex;
  height: 293px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
  opacity: 0;
  visibility: hidden;
}

.slider input {
  display: none;
}

.slider label {
  background-color: #11998e;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
}

.slider li:nth-child(2) label {
  left: 40px;
}

.slider li:nth-child(3) label {
  left: 70px;
}

.slider li:nth-child(4) label {
  left: 100px;
}

.slider li:nth-child(5) label {
  left: 130px;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

*/

/*Planos de Assinatura*/
/*Título da tabela*/

.planos {
  margin-top: 40px;
  height: 75vh;
  width: auto;
}

/*Planos de Assinatura*/
/*Conteúdo da tabela*/

.titulo-planos {
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  color: #5b9129;
  margin-bottom: 36px;
}

.tabela-planos {
  margin-top: 25px 0;
  height: 60vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;
  border-radius: 2%;
  box-shadow: 0 0 20px rgba (0, 0, 0, 0.15);
}

.tabela-planos th,
.tabela-planos td {
  padding: 12px 15px;
}

.tabela-planos thead {
  padding: 20px;
}

.tabela-planos tbody tr:nth-child(-n+5){
  border-bottom: 0.75px solid rgba(0, 0, 0, 0.75);
}

.tabela-planos tbody td:nth-child(-n+4){
  border-right: 0.75px solid rgba(0, 0, 0, 0.75);
}

.transparente {
  border-bottom: 1px solid #fff;
}

#transparente-id, #botao1, #botao2, #botao3 {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.botao-right-left {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.plano-silver {
  background-color: #8FC160;
}

.plano-gold {
  background-color: #68B3CF;
}

.plano-platinum {
  background-color: #7998D1;
}

.fonte-preço {
  font-size: 28px;
  font-weight: bold;
}

.btn-1 {
  background-color: #8FC160;
  padding: 12px;
  border: 0.7px solid #dddddd;
  border-radius: 10%;
  padding-right: 23px;
  padding-left: 23px;
  cursor: pointer;
}

.btn-2 {
  background-color: #68B3CF;
  padding: 12px;
  border: 0.7px solid #dddddd;
  border-radius: 10%;
  padding-right: 23px;
  padding-left: 23px;
  cursor: pointer;
}

.btn-3 {
  background-color: #7998D1;;
  padding: 12px;
  border: 0.7px solid #dddddd;
  border-radius: 10%;
  padding-right: 23px;
  padding-left: 23px;
  cursor: pointer;
}

/*------ Footer ------*/

footer {
  bottom: 0px;
  width: 100%;
  background: rgb(131, 165, 100);
  color: #ffffff;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffed4c;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #83a564;
}

.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #ffed4c;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  color: #f2f2f2;
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #ffed4c;
  color: #000;
}

.center .content .fas {
  font-size: 1rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #ffed4c;
  color: #000;
}

.center .content .text {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 10px 0;
}
.right form .text {
  font-size: 1rem;
  margin-bottom: 2px;
  color: #ffffff;
}

.right form .msg {
  margin-top: 10px;
}

.right form input,
.right form textarea {
  width: 100%;
  font-size: 1rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #f2f2f2;
}

.right form input:focus .right form textarea:focus {
  outline-color: #3498db;
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #000;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
}

.right form .btn button:hover {
  background: #ffed4c;
  color: #000;
}

.bottom center {
  padding: 5px;
  font-size: 0.9rem;
  background: #151515;
}

.bottom center span {
  color: #656565;
}

.bottom center a {
  color: #f12020;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}
