<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/cadastro.css" />
  <title>Cadastro - OHMBUCHA</title>
</head>

<body>
  <%- include('partials/header') %>

<section>
    <div class="formulario">
      <h2>Dados básicos</h2>
      <form action="/cadastro" method="post">
        <p>
          <label for="nome">Nome</label><br />
          <input type="text" placeholder="Manolo" name="nome" id="nome" /><br />
        </p>
        <p>
          <label for="nome">Sobrenome</label><br />
          <input type="text" placeholder="Silva" name="sobrenome" id="sobrenome" /><br />
        </p>
        <p>
          <label for="email">Email</label><br />
          <input type="email" placeholder="Digite seu email" name="email" id="email" /><br />
        </p>
        <p>
          <label for="cpf">CPF</label><br />
          <input type="text" placeholder="Digite seu CPF" name="cpf" id="cpf" pattern="[0-9]{11}"/><br />
        </p>
        <p>
          <label for="senha">Senha</label><br />
          <input type="password" placeholder="Cadastre sua senha" name="password" id="password" /><br />
        </p>
        <p>
          <label for="senha2">Repita sua senha</label><br />
          <input type="password2" placeholder="Repita sua senha" name="password2" id="password2" /><br />
        </p>
      </div>
    <div class="formulario2">

      <h2>Dados de entrega</h2>
      <p>
        <label for="endereco">Endereço</label><br />
        <input type="text" name="endereco" id="endereco" /><br />
      </p>

      <p>
        <label for="numero">Número</label><br/>
        <input type="text" name="numero" id="numero" /><br />
      </p>

      <p>
        <label for="complemento">Complemento</label><br />
        <input type="text" name="complemento" id="complemento" /><br />
      </p>

      <p>
        <label for="bairro">Bairro</label><br />
        <input type="text" name="bairro" id="bairro" /><br />
      </p>

      <p>
        <label for="cidadeUF">Cidade</label><br />
        <input type="text" name="cidadeUF" id="cidadeUF" /><br />
      </p>

      <p>
        <label for="estado">Estado</label><br />
        <input list="estado">
        <datalist id="estado"></datalist><br />
      </p>

      <p>
        <label for="cep">CEP</label><br />
        <input type="text" name="cep" id="cep" /><br />
      </p>

      <br />

      <input type="submit" value="Concluir" id="submit" />
      </form>
    </div>

    <br />

    <br />

  </section>

  <%- include('partials/footer') %>

</body>

</html>