<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/cadastro.css" />
  <title>Cadastro - OHMBUCHA</title>
</head>

<body>
  <%- include('partials/header') %>

    <section>
      <div class="form_1">
        <h2>Dados básicos</h2>
        <form action="cadastro" method="post">
          <p>
            <label for="name">Nome</label><br />
            <input type="text" required placeholder="Manolo" name="name" id="name"/><br />
          </p>
          <p>
            <label for="lastname">Sobrenome</label><br />
            <input type="text" required placeholder="Silva" name="lastname" id="lastname"/><br />
          </p>
          <p>
            <label for="email">Email</label><br />
            <input type="email" required placeholder="Digite seu email" name="email" id="email"/><br />
          </p>
          <p>
            <label for="cpf">CPF</label><br />
            <input type="text" required placeholder="Digite seu CPF" name="cpf" id="cpf" pattern="[0-9]{11}"/><br />
          </p>
          <p id="senha">
            <label for="senha">Senha</label><br />
            <input type="password" required placeholder="Cadastre sua senha" name="password" id="password"/><br />
            <input type="password" required placeholder="Repita sua senha" name="confirm_password" id="confirm_password"/><br />
            <input id="checkbox" type="checkbox" onclick="showPass()">
            <span style="color: #ffed4c;">Mostrar senha</span>
          </p>
        </div>

        <div class="form_2">
          <h2>Dados de entrega</h2>
          <p>
            <label for="address">Endereço</label><br />
            <input type="text" required name="address" id="address"/><br />
          </p>

          <p>
            <label for="number">Número</label><br />
            <input type="text" required name="number" id="number"/><br />
          </p>

          <p>
            <label for="district">Bairro</label><br />
            <input type="text" required name="district" id="district"/><br />
          </p>

          <p>
            <label for="city">Cidade</label><br />
            <input type="text" required name="city" id="city"/><br />
          </p>

          <p>
            <label for="state">Estado</label><br />
            <input list="state" required/>
            <datalist id="state">
              <option value="AC"></option>
              <option value="AL"></option>
              <option value="AM"></option>
              <option value="AP"></option>
              <option value="BA"></option>
              <option value="CE"></option>
              <option value="DF"></option>
              <option value="ES"></option>
              <option value="GO"></option>
              <option value="MA"></option>
              <option value="MG"></option>
              <option value="MS"></option>
              <option value="MT"></option>
              <option value="PA"></option>
              <option value="PB"></option>
              <option value="PE"></option>
              <option value="PI"></option>
              <option value="PR"></option>
              <option value="RJ"></option>
              <option value="RO"></option>
              <option value="RN"></option>
              <option value="RR"></option>
              <option value="RS"></option>
              <option value="SC"></option>
              <option value="SE"></option>
              <option value="SP"></option>
              <option value="TO"></option>
            </datalist>

            <br />
          </p>

          <p>
            <label for="cep">CEP</label><br />
            <input type="text" required name="cep" id="cep"/><br />
          </p>

          <br />

          <button id="btn" type="submit">Cadastrar</button>
        </div>
      </form>
      

      <br />

      <br />
    </section>

    <%- include('partials/footer') %>
    <script src="/js/scripts.js"></script>
</body>

</html>